html, body, #root {
  height: 100%;
  font-family: "StarWars";
}

.App {
  display: flex;
  min-height: 100%;
}

@font-face {
  font-family: "StarWars";
  src: url("./fonts/STARWARS.ttf");
  font-weight: normal;
  font-style: normal;
}

/*MAIN*/
.main { 
  min-height: 100%;
  padding: 10px;
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  background: url('./images/stars2.jpg');
  align-content: flex-start;
}

.movieCard {
  height: 380px;
  width: 330px;
  display: flex;
  padding: 5px;
  border-radius: 7px;
  margin-top: 5px;
  background: grey;
}

.movie {
  border: 1px solid black;
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.movie-none{
  width: 50%;
  border: 1px solid black;
}

.movie-none img {
  height: 100%;
  width: 100%
}

.movie-image {
  width: 100%;
  height: 240px;
}

.movie-info {
  background-color: gainsboro;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 17px;
}

.movie-characters {
  display: flex;
  width: 100%;
  height: 55px;
}

.movie-characters-container {
  position: relative;
  height: 100%;
  width: 100%
}

.movie-characters-container-hover {
  position: absolute;
  display: none;
  background-color: gainsboro;
  font-size: 14px;
}

.movie-characters-container:hover .movie-characters-container-hover {
  display: block;
}

.movie-characters-image {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}

/*SIDEBAR*/
.sidebar {
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  min-width: 400px;
  max-width: 400px;
  background-color: beige;
}

.character {
  position: relative;
  height: 225px;
  width: 100%;
}

.character-image {
  height: 100%;
  width: 100%;
}

.character-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.character:hover .character-overlay {
  opacity: 1;
}

.character-overlay-text {
  width: 100%;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  line-height: 125%;
}

.scrawlChart {
  height: 360px;
  position: relative;
  background-color: grey;
}

.scrawlChart-title {
  position: absolute;
  right: 0;
  left: 0;
  top: 15px;
  margin: auto;
  color: black;
}

.bar-graph {
  padding: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  height: 100%;
  margin: 0;
}

.bar-graph li {
  display: block;
  padding: 1.5625rem 0;
  position: relative;
  text-align: center;
  vertical-align: bottom;
  border-radius: 4px 4px 0 0;
  max-width: 20%;
  height: 100%;
  margin: 0 1.8% 0 0;
  flex: 1 1 15%;
}

.bar-graph .bar-graph-axis {
  flex: 1 1 8%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar-graph .bar-graph-label {
  margin: 0;
  background-color: none;
  color: black;
  position: relative;
}

@media print, screen and (min-width: 40em) and (min-width: 64em) {
  .bar-graph .bar-graph-label:before, .bar-graph .bar-graph-label:after {
    width: 30%;
  }
}

@media print, screen and (min-width: 40em) {
  .bar-graph .bar-graph-label:after {
    left: auto;
    right: 0;
  }
}

.bar-graph .percent {
  letter-spacing: -3px;
  opacity: 0.4;
  width: 100%;
  font-size: 1.875rem;
  position: absolute;
}

@media print, screen and (min-width: 40em) {
  .bar-graph .percent {
    font-size: 2rem;
  }
}

.bar-graph .percent span {
  font-size: 1.875rem;
}

.bar-graph .description {
  font-weight: 800;
  opacity: 0.5;
  text-transform: uppercase;
  width: 100%;
  bottom: 20px;
  position: absolute;
  font-size: 0.5rem;
  overflow: hidden;
}

.bar-graph .bar.alert {
  border: 1px solid #cc4b37;
  background: linear-gradient(#d67060, #cc4b37 70%);
}

